<h2>Blackjack is in session</h2>

Hi <%= session[:username] %>. You have:
 <ul>
 	<% session[:player_cards].each do |c| %>
 		<!-- <li><%= c.to_s %></li> -->
    <img src="<%= card_imager(c) %>">
 	<% end %>
 </ul>

 Making a total of: <%= card_valuer(session[:player_cards]).to_s %>

 <br />
 <br />

 The dealer has:
 <ul>
 	<!-- <li>Hidden</li> -->
  <img src="/images/cards/cover.jpg">
  
  <!-- <li><%=session[:dealer_cards][1].to_s %></li> -->
  <img src="<%= card_imager(session[:dealer_cards][1]) %>">
 </ul>

<br />
<br />

<table>
<tr>
  <td>
<form action='/hit' method='post'>
	<input type='submit' class='btn' color='red' value="Hit"/>
</form>
  </td>
  <td>
<form action='/stay' method='post'>
	<input type='submit' class='btn' value="Stay"/>
</form>
  </td>
  </tr>
</table>