<h3>The Result</h3>

You have:
 <ul>
  <% session[:player_cards].each do |c| %>
    <li><%= c.to_s %></li>
  <% end %>
 </ul>

Making a total of: <%= card_valuer(session[:player_cards]).to_s %>

 <br />
 <br />

 The dealer has:
 <ul>
  <% session[:dealer_cards].each do |c| %>
    <li><%= c.to_s %></li>
  <% end %>
 </ul>

Making a total of: <%= card_valuer(session[:dealer_cards]).to_s %>

<br />
<br />

<h2><%= session[:result] %></h2>